<tr>
  <td><%= ff.text_field :hospital %>           </td>
  <td><%= ff.text_field :repair_estimate %>    </td>
  <td><%= ff.text_field :paid_by %>            </td>
  <td><%= ff.text_area :remarks, :cols => 20, :rows => 2 %>             </td>
<tr/>
