<div class="container">
  <div class="container_header">
    <h3>New Preventive Maintenance log for <%= @vehicle.complete_model %> (<%= @vehicle.plate_number %>)</h3>
  </div>
  <div class="container_body">
    <div id="buttons_section">
      <%= link_to 'Back to Preventive Maintenance Logs Index', fleet_vehicle_preventive_maintenances_path(@fleet, @vehicle), :class => "button" %>
    </div>
    <div style="clear:both">&nbsp;</div>    
    <h3 class="section_header">New Preventive Maintenance Log</h3>
    <%= render 'form' %>
  </div>
</div>



