<div class="container">
  <div class="container_header">
    <h3>New Service Center</h3>
  </div>
  <div class="container_body">
    <div id="buttons_section">
      <%= link_to 'Back', service_centers_path, :class => "button" %>
    </div>
    <div style="clear:both">&nbsp;</div>    
    <%= render 'form' %>
  </div>
</div>

